body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f3e8ff;
  color: #333;
  scroll-behavior: smooth;
}

h1, h2, h3 {
  color: #5a189a;
}

section {
  padding: 80px 20px;
  max-width: 1000px;
  margin: auto;
}

a {
  color: #7b2cbf;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #5a189a;
}
